
:root {
    --bg-color: #000000;
    --second-bg-color: #0f0f0f;
    --text-color: #ffffff;
    --main-color: hsla(17, 100%, 50%, 0.89);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "poppins";

}

html {
    font-size: 60%;
    overflow-x: hidden;
}


body {
    color: var(--text-color);
    background: var(--bg-color)
}


/* Header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 15%;
    background: rgb(39, 39, 39);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}

span {
    background: linear-gradient(270deg, #ff0000cb 10%, #ff9900 100%);
    background-clip: text;
    color: transparent;
}

/* Navigation bar */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.nav-links li a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
    font-size: 1.7rem;
    padding: 1rem 2rem;
    border-radius: 6rem;
    background: hsla(17, 100%, 50%, 0.89);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05);
}


.site-aside {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translatey(-50%);
    width: 100px;
}


/*Hero Section*/
section {
    min-height: 100vh;
    padding: 10rem;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.hero-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 1;
}
.hero-content h3{
    margin: 1rem 0;
    font-size: 4rem;
}
.hero-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}
.hero-image img {
    width: 370px;
    margin-top:4rem;
    margin-right: 30px;
    border-radius: 15%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.hero-image img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.social-icon a {
    font-size: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icon a:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}
.gtn-group {
    display: flex;
    gap: 2rem;
}
.btn{
    display: inline-block;
    margin-top: 10px;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;   
}
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2) {
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}


/*about section*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}
.about-image img {
    width: 450px;
    border: 50%;
    border-radius: 10%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}
.about-image img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 55px var(--main-color);
}
.about-content h2 {
    font-size: 7rem;
    text-align: left;
}
.about-content p {
    font-size: 1.8rem;
}
.about-content .btn {
    margin: 3rem 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #25231e;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}


/*project section*/

.projects {
    background: var(--second-bg-color);
}
.heading {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 5rem;
}
.projects-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}
.projects-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color);
    transition: 0.3s ease;
}
.projects-card:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
    transform: scale(1.02);
}
.projects-card img {
    max-width: 300px;
    border-radius: 2em;
    object-fit: cover;
}
.projects-card h3 {
    font-size: 3rem;
}
.projects-card p{
    font-size: 1.6rem;
}

/*contact section*/

.contact {
    background: var(--bg-color);
}
.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    border: 2px solid var(--main-color);
    border-radius: 2rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 1.5rem 0;
    resize: none;
}



.newsletter-container {
    background-color: var(--light-bg);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.newsletter-container h2 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.newsletter-container h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 3px;
    background-color: var(--accent-color);
}





/*footer section*/

footer {
    background-color: rgb(39, 39, 39);
    padding: 40px 0 10px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
    margin-left: 100px;
}

.footer-section {
    flex: 1 1 250px;
    min-width: 250px;
}

.footer-section h3 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    color: var(--text-color);
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: var(--main-color);
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 12px;
}

.footer-section ul li a {
    font-size: 15px;
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.footer-section ul li a:hover {
    color: var(--main-color);
    transform: translateX(5px);
}

.contact-item {
    font-size: 15px;
    display: flex;
    margin-bottom: 15px;
}

.contact-item i {
    text-align: center;
    margin-top: 3px;
}
.contact-item a {
    color: var(--text-color);   
}
.contact-item a:hover {
    color: var(--main-color);
    transform: translateX(5px);
}
.footer-bottom a {
    color: var(--text-color);
}
.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 13px;
    margin-left: 90px;
    margin-right: 90px;
}

/* Back to Top Button*/

.back-to-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: hsla(17, 100%, 50%, 0.89);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.back-to-top:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

@media(max-width:1285px){
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0 ,0.8);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem;
        color: var(--text-color);
    }
    .navbar.active {
        display: none;
    }
    .gradient-btn {
        display: none;
    }
    .hero {
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }
    .hero-content {
        align-items: center;
        text-align: center;
    }
    .hero-image img {
        width: 56vw;
    }
    .about {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about h2 {
        text-align: center;
        margin: 2rem 0;
    }
    .about img {
        width: 52vw;
    }
    .contact form {
        flex-direction: column;
    }
}


